/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
       #map {
           height: 100%;
       }
       #app-container {
	   height: 100%;
       }

       #info-box{
	   position: absolute;
	   width: 300px;
	   top: 0;
	   right: 0;
	   z-index: 1000;
	   background: white;
	   padding-right: 25px;
	   padding-left: 25px;
	   margin: 20px;
	   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	   border-radius: 15px;
       }

       #info-box-text{
           position: relative;
       }

       #info-box-close{
           position: absolute;
           top: 10px;
           right: 10px;
           border: none;
           background: white;
           cursor: pointer;
           color: black;
           font-size: 25px;
           text-align: center;
       }

       #info-box-close:hover{
           color:grey;
       }

       h1{
	   text-align: center;
       }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
